  <section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Giriş Yap</h2>
  
                <form [formGroup]="loginForm"> 
                  <div class="form-outline mb-4">
                    <input placeholder="Email Adresiniz" formControlName="email" type="email" id="email" class="form-control form-control-lg" />                    
                  </div>
  
                  <div class="form-outline mb-4">
                    <input placeholder="Şifreniz" formControlName="password" type="password" id="password" class="form-control form-control-lg" />
                    
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                      <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"><div (click)="login()" class="text-white">Giriş Yap</div></button>
                    </div>
                    <br>
                    <div class="checkbox mb-3 d-flex justify-content-center">
                      <label>
                        <input type="checkbox" value="remember-me" /> Beni Hatırla
                      </label>
                    </div>
    
                    <div *ngIf="dataLoading" style="margin-left:47%" class="d-flex justify-content-center spinner-border " role="status">
                      <span class="sr-only"></span>
                    </div>
                  </div>  
                </form>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
