<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Marka</th>
        <th scope="col">Müşteri Adı</th>
        <th scope="col">Müşteri Soyadı</th>
        <th scope="col">Kiralanma Tarihi</th>
        <th scope="col">Dönüş Tarihi</th>           
      </tr>
    </thead>
    <tbody>     
      <tr *ngFor="let rentalDetail of rentalDetails">
        <td>{{rentalDetail.brandName}}</td>
        <td>{{rentalDetail.firstName}}</td>
        <td>{{rentalDetail.lastName}}</td>
        <td>{{rentalDetail.rentDate}}</td>
        <td>{{rentalDetail.returnDate}}</td>
      </tr> 
    </tbody>
  </table>
