<div class="row">
  <div class="col-md-3">
    <app-brand></app-brand>
    <app-color></app-color>
  </div>
  <div class="col-md-9">
    <div class="container p-3 my-3 bg-white">
      <div class="card">
        <div class="row">
          <div class="col-md-7">
            <div id="images" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner" *ngFor="let cardetail of carDetails">
                <div class="carousel-item active">
                  <img
                    *ngIf="cardetail.image[0]"
                    src="{{ baseUrl }}{{ cardetail.image[0].imagePath }}"
                    height="288"
                    width="388"
                    class="d-block w-100"
                    alt="..."
                  />
                  <img
                    *ngIf="!cardetail.image[0]"
                    src="{{ baseUrl }}{{ defaultImage }} "
                    height="288"
                    width="388"
                    class="card-img-top"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <table class="table">
              <tbody>
                <tr *ngFor="let cardetail of carDetails">
                  <th scope="col">Araç Adı</th>
                  <td>{{ cardetail.carName }}</td>
                </tr>
                <tr *ngFor="let cardetail of carDetails">
                  <th scope="col">Marka</th>
                  <td>{{ cardetail.brandName }}</td>
                </tr>
                <tr *ngFor="let cardetail of carDetails">
                  <th scope="col">Renk</th>
                  <td>{{ cardetail.colorName }}</td>
                </tr>
                <tr *ngFor="let cardetail of carDetails">
                  <th scope="col">Model</th>
                  <td>{{ cardetail.modelYear }}</td>
                </tr>
                <tr *ngFor="let cardetail of carDetails">
                  <th scope="col">Günlük Ücret</th>
                  <td>{{ cardetail.dailyPrice }}</td>
                </tr>
                <tr *ngFor="let cardetail of carDetails">
                  <th scope="col">Açıklama</th>
                  <td>{{ cardetail.description }}</td>
                </tr>
              </tbody>
            </table>
            <app-rental></app-rental>
            <br>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
