<div class="card p-2 my-4">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Sepetim</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">
            Sepetinizde {{ cartItems.length }} araç bulunmaktadır.
          </div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <ul>
          <li *ngFor="let cartItem of cartItems">
            <div class="d-flex flex-row">
              <div class="p-3">
                <img
                  src="{{ baseUrl }}{{ cartItem.carDetail.image[0].imagePath }}"
                  width="50"
                  height="75"
                />
              </div>
              <div class="p-2">
                <h4>{{ cartItem.carDetail.carName }}</h4>
                <small class="text-muted"
                  >Kiralama Süresi: {{ showDate(cartItem.rentDate) }} -
                  {{ showDate(cartItem.returnDate) }}
                  <p>
                    ({{
                      getRentalPeriod(cartItem.rentDate, cartItem.returnDate)
                    }}
                    gün kiralanacak)
                    
                  </p>
                </small>
              </div>
              <div class="d-flex flex-row center">
                <div class="p-2" style="color: green">
                  <strong>
                    {{
                      cartItem.carDetail.dailyPrice *
                        getRentalPeriod(cartItem.rentDate, cartItem.returnDate)
                        | currency: "₺"
                    }}
                  </strong>
                  <br />
                  <div class="p-2">
                    <button
                    type="button"
                    (click)="removeCart(cartItem.carDetail)"
                    class="btn btn-danger btn-sm"
                  >
                    Sepetten Sil
                  </button> 
                  </div>                                
                </div>
              </div>              
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 summary">
      <div>
        <h5><b>Kiralama Özeti</b></h5>
      </div>
      <hr />
      <strong>
        <div class="row">
          <div class="col" style="padding-left: 0">Kiralanacak Araç Sayısı</div>
          <div class="col center">{{ cartItems.length }}</div>
        </div>
        <br />
        <div class="row">
          <div class="col" style="padding-left: 0">
            Toplam Kiralanan Gün Sayısı
          </div>
          <div class="col center">{{ calculateTotalRentalPeriod() }}</div>
        </div>
        <br />
        <hr />
        <br />
        <div class="col" style="padding-left: 0">TOPLAM TUTAR</div>
        <div class="col text-right" style="color: green">
          {{ calculateTotalAmount() | currency: "₺" }}
        </div>
      </strong>
      <br />
      <button class="btncomplete">ÖDEMEYİ TAMAMLA</button>
    </div>
  </div>
</div>
