<div class="row">
  <div class="col-md-3">
    <app-brand></app-brand>
    <app-color></app-color>
  
  </div>
  <div class="col-md-9">
    <div class="container p-3 my-3 bg-white">
      <div class="card">
        <div class="row">
          <div class="col-md-7">
            <div id="images" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div *ngIf="carDetail" class="carousel-item active">
                  <img
                    *ngIf="carDetail.image[0]"
                    src="{{ baseUrl }}{{ carDetail.image[0].imagePath }}"
                    height="288"
                    width="388"
                    class="d-block w-100"
                    alt="..."
                  />
                  <img
                    *ngIf="!carDetail.image[0]"
                    src="{{ baseUrl }}{{ defaultImage }} "
                    height="288"
                    width="388"
                    class="card-img-top"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <table class="table">
              <tbody *ngIf="carDetail"> 
                <tr>
                  <th scope="col">Araç Adı</th>
                  <td>{{ carDetail.carName }}</td>
                </tr>
                <tr>
                  <th scope="col">Marka</th>
                  <td>{{ carDetail.brandName }}</td>
                </tr>
                <tr>
                  <th scope="col">Renk</th>
                  <td>{{ carDetail.colorName }}</td>
                </tr>
                <tr>
                  <th scope="col">Model</th>
                  <td>{{ carDetail.modelYear }}</td>
                </tr>
                <tr>
                  <th scope="col">Günlük Ücret</th>
                  <td>{{ carDetail.dailyPrice | currency:'₺' }}</td>
                </tr>
                <tr>
                  <th scope="col">Açıklama</th>
                  <td>{{ carDetail.description }}</td>
                </tr>  
                <tr>
                  <th scope="col">Findex Puanı</th>
                  <td>{{ carDetail.findexScore }}</td>
                </tr>                              
              </tbody>
            </table>
            <div *ngIf="!rentalResult">
              <app-rental-detail></app-rental-detail>  
            </div>            
            <div *ngIf="rentalResult" class="alert alert-danger" role="alert">                            
                <td class="mx-auto">{{ rentalResult }}</td>              
            </div>                       
            <br>           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


