<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <img src="assets/svg/cart.svg" width="25" height="25" /> Sepetim ({{
      cartItems.length
    }})
  </a>

  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <hr />
    <li *ngFor="let cartItem of cartItems">
      <a class="dropdown-item">
        <div class="d-flex flex-row">
          <div class="p-2">
            <img
              src="{{ baseUrl }}{{ cartItem.carDetail.image[0].imagePath }}"
              width="125"
              height="75"
            />
          </div>
          <div class="p-4 my-2">
            <h4>{{ cartItem.carDetail.carName }}</h4>
            <small class="text-muted"
              >Kiralama Süresi: {{ showDate(cartItem.rentDate) }} -
              {{ showDate(cartItem.returnDate) }}
              <p>
                ({{ getRentalPeriod(cartItem.rentDate, cartItem.returnDate) }}
                gün kiralanacak)
              </p>
            </small>
            <p class="card-text text-success text-nowrap">
              <strong>
                {{
                  cartItem.carDetail.dailyPrice *
                    getRentalPeriod(cartItem.rentDate, cartItem.returnDate)
                    | currency: "₺"
                }}
              </strong>
              <span style="margin-left: 7em">
                <button
                  type="button"
                  (click)="removeCart(cartItem.carDetail)"
                  class="btn btn-danger"
                >
                  Sepetten Sil
                </button>
              </span>
            </p>
          </div>
        </div>
      </a>
      <hr />
    </li>
    <div class="text-muted" *ngIf="cartItems.length === 0">
      <p style="text-align: center">
        Sepetinizde araç bulunmamaktadır.
        <br />
        ({{ cartItems.length }})
      </p>
    </div>
    <button
      *ngIf="cartItems.length > 0"
      routerLink="/myCart"
      class="button button3"
    >
      Sepeti Onayla
    </button>
  </ul>
</li>
