<div class="row">
  <div class="col-md-3">
    <app-brand></app-brand>
    <app-color></app-color>
  </div>
  <div class="col-md-9 background">
    <app-filter-bar></app-filter-bar>
    <div class="mb-3">
      <nav class="navbar navbar-white bg-dark">
        <div class="container-fluid">
          <span class="navbar-brand mx-auto text-white"><h5>Araçlar</h5></span>
        </div>
      </nav>
      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control"
        id="filterText"
        placeholder="Arama ifadesi giriniz"
      />
    </div>
    <div *ngIf="filterText">Aradığınız ifade : {{ filterText }}</div>
    <div class="container-fluid">
      <div class="row">
        <div
          *ngFor="let carDetail of carDetails | carFilter: filterText"
          class="card tab"
          style="width: 17rem"
        >
          <ul class="list-group">
            <img
              *ngIf="carDetail.image[0]"
              src="{{ baseUrl }}{{ carDetail.image[0].imagePath }}"
              height="180"
              width="180"
              class="card-img-top"
              alt="..."
            />
            <img
              *ngIf="!carDetail.image[0]"
              src="{{ baseUrl }}{{ defaultImage }} "
              height="288"
              width="388"
              class="card-img-top"
              alt=""
            />
          </ul>
          <div>
            <div>
              <h4 class="card-title">
                {{ carDetail.brandName }} {{ carDetail.carName }}
              </h4>
            </div>
            <hr />
            <h6>Renk: {{ carDetail.colorName }}</h6>
            <hr />
            <h6>Model: {{ carDetail.modelYear }}</h6>
            <hr />
            <div class="card-body">
              <button
                routerLink="/cars/cardetail/{{ carDetail.carId }}"
                class="button button3"
              >
                Detaya Git
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
